@import "tailwindcss";

:root {
  /* Background and Text Colors */
  --background: #e3fff1;
  --foreground: #0f172a;

  /* Brand Colors */
  --primary-green: #047857;
  --primary-blue: #2563eb;

  /* Surface Colors for Cards/Sections */
  --surface: #6FCF97;

  /* Text Colors */
  --text-primary: #0f172a;
  --text-secondary: #64748b;

  /* Stations Status Colors */
  --available: #22c55e;
  --limited: #e9f50b;
  --almostFull: #f59e0b;
  --full: #ef4444;
  --maintenance1: #991b1b;

  /* Charging Slots Status Colors */
  --available: #22c55e;
  --occupied: #f59e0b;
  --maintenance2: #ef4444;

  /* Payment Status Colors */
  --paid: #22c55e;
  --pending: #e9f50b;
  --failed: #ef4444;
  --refunded: #ffffffb0;

  /* Border & Shadow */
  --border-soft: #e2e8f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-green: var(--primary-green);
  --color-primary-blue: var(--primary-blue);

  --color-surface: var(--surface);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-available: var(--available);
  --color-limited: var(--limited);
  --color-almostFull: var(--almostFull);
  --color-full: var(--full);
  --color-maintenance1: var(--maintenance1);

  --color-available: var(--available);
  --color-occupied: var(--occupied);
  --color-maintenance2: var(--maintenance2);

  --color-paid: var(--paid);
  --color-pending: var(--pending);
  --color-failed: var(--failed);
  --color-refunded: var(--refunded);

  --color-border-soft: var(--border-soft);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

/* Landing Page */
.carousel {
  margin: 100px 0;
  display: flex;
  overflow: hidden;
}

.group{
  display: flex;
  align-items: center;
  gap: 1em;
  animation: slide_left 5s infinite linear;
  padding-right: 1em;
}

.card {
  flex: 0 0 auto;
  padding: 1em;
}

@keyframes slide_left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* About Page */
.intro {
  position: relative;
  height: 104svh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin-bottom: 60px;
  gap: 24px;

  background-image: url("/About_1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  overflow: hidden;
}

.intro::before {
  content: "";
  position: absolute;
  inset: 0;

  background-color: rgba(0, 40, 25, 0.65);

  z-index: 10;
}

.intro h1,
.intro p {
  position: relative;
  z-index: 20;
  color: white;
}

/* Mission / Vision */
.drives {
  position: relative;
  height: 90svh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("/About_1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  overflow: hidden;
}

.drives::before {
  content: "";
  position: absolute;
  inset: 0;

  background-color: rgba(0, 40, 25, 0.65);

  z-index: 0;
}

/* Everything inside stays above overlay */
.drives > * {
  position: relative;
  z-index: 1;
}

/* Charging Slot Card */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}